<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javier Coronado Diseños</title>
    <script src="/Scripts/onload.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Styles/loader.css">
    <link rel="shortcut icon" href="/scr/icon4.png" type="image/x-icon">
    <link rel="stylesheet" href="/Styles/diseños.css">
</head>
<body onload="loadFunction()">
        <!-- start of the onload icon -->
        <div class="loader">
            <img src="/scr/firma.gif" alt="Loading...">
        </div> 
        <!-- end of the onload icon -->
        <div class="head-container">
            <h1 class="head-container-text"> <a href="../index.html">JAVIER CORONADO</a> </h1>
            <ul class="nav-list">
                <li class="tooltip"><a href="/view/proyectos.html" ><img src="/scr/botellanav.svg" alt=""></a>
                    <span class="tooltiptext">Proyectos</span>
                </li>
                <li class="tooltip" ><a href="/view/resumen.html"><img src="/scr/papernav.svg" alt=""></a>
                    <span class="tooltiptext">Resumen</span>
                </li>
                <li class="tooltip" ><a href="/view/diseños.html"><img src="/scr/paintnav.svg" alt=""></a>
                    <span class="tooltiptext">Diseños</span>
                </li>
                <li class="tooltip"><a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="_blank"><img src="/scr/mailnav.svg" alt=""></a>
                    <span class="tooltiptext">Contactame</span>
                </li>
            </ul>
        </div>
        <!-- start design  -->
        <div class="diseño-container">
            <h1>Diseños</h1>
            <p>Aprecia las pinceladas que da mi creatividad y mi avance en el diseño.</p>
            <p>Si quieres ver mas <a href="https://www.behance.net/javiercoronado1" target="_blank">click aquí!</a></p>
            <div class="diseño-container-1">
                <img id="javicoro99" src="/scr/javicorologo.png" alt="">
                <img class="Cadenas" src="/scr/Cadenas.svg" alt="">
                <a href="https://www.behance.net/gallery/128733395/Javicoro99" target="_blank"><img src="/scr/javicoro99Resum.png" alt=""></a>
            </div>
            <div class="diseño-container-2">
                <img id="alkapone" src="/scr/Alkaponelogo.png" alt="">
                <img class="Cadenas"src="/scr/Cadenas.svg"  alt="">
                <a href="https://www.behance.net/gallery/128695355/ALKAPONE" target="_blank"><img src="/scr/AlkaponeResum.png" alt=""></a>
            </div>
            <div class="diseño-container-3">
                <img id="thaylerlogo" src="/scr/thaylerlogo.png" alt="">
                <img class="Cadenas"src="/scr/Cadenas.svg"  alt="">
                <a href="https://www.behance.net/gallery/116730651/RECETARIO-JORDAN" target="_blank"><img src="/scr/ThaylerResum.png" alt=""></a>
            </div>
        </div>
        <!-- Start footer -->
        <footer>
            <div class="linkfo">
                <a href="/view/resumen.html">Resumen</a> <span>|</span>
                <a href="/view/proyectos.html">Proyectos</a> <span>|</span>
                <a href="#">J99</a>    
            </div>
            <div class="socialicon">
                <a href="https://github.com/javicoro99" target="blank_"><img src="/scr/Github.svg" alt="error"></a>
                <a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="blank_"><img id="linkd"src="/scr/Linke.svg" alt="error"></a>
                <a href="https://twitter.com/javicoro99" target="blank_"><img id="Twitter" src="/scr/Twitter.svg" alt="error"></a>
            </div>
        </footer>
</body>
</html>