<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javier Coronado Proyectos</title>
    <script src="/Scripts/onload.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Styles/loader.css">
    <link rel="shortcut icon" href="/scr/icon4.png" type="image/x-icon">
    <link rel="stylesheet" href="/Styles/proyectos.css">
</head>
<body onload="loadFunction()">
        <!-- start of the onload icon -->
        <div class="loader">
            <img src="/scr/firma.gif" alt="Loading...">
        </div> 
        <!-- end of the onload icon -->
        <div class="head-container">
            <h1 class="head-container-text"><a href="../index.html">JAVIER CORONADO</a></h1>
            <ul class="nav-list">
                <li class="tooltip"><a href="/view/proyectos.html" ><img src="/scr/botellanav.svg" alt=""></a>
                    <span class="tooltiptext">Proyectos</span>
                </li>
                <li class="tooltip" ><a href="/view/resumen.html"><img src="/scr/papernav.svg" alt=""></a>
                    <span class="tooltiptext">Resumen</span>
                </li>
                <li class="tooltip" ><a href="/view/diseños.html"><img src="/scr/paintnav.svg" alt=""></a>
                    <span class="tooltiptext">Diseños</span>
                </li>
                <li class="tooltip"><a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="_blank"><img src="/scr/mailnav.svg" alt=""></a>
                    <span class="tooltiptext">Contactame</span>
                </li>
            </ul>
        </div>
        <!-- Start Proyects -->
        <div class="proyecto-container">
            <h1>Proyectos</h1>
            <p>Aquí podras apreciar algunos proyectos que eh elaborado desde 0...</p>
            <div class="proyecto-container-1">
                <a href="https://replit.com/@javicoro991/UrlShort#.replit" target="_blank"><img src="/scr/enlace.png" alt=""></a>
                <div class="proyecto-container-1-text">
                    <h2><a href="https://replit.com/@javicoro991/UrlShort#.replit" target="_blank">Acortador de URL</a></h2>
                    <p>Un rapido y sencillo acortador que simplifica un enlace, lo guarda para que se pueda usar luego.</p>
                    <div><strong>Tecnologias</strong><p>Node, Express, Chai, Js, Css, MongoDB, Moongose.</p></div>
                </div>
            </div>
            <div class="proyecto-container-2">
                <a href="https://replit.com/@javicoro991/boilerplate-project-library#server.js" target="_blank"><img src="/scr/book.png" alt=""></a>
                <div class="proyecto-container-2-text">
                    <h2> <a href="https://replit.com/@javicoro991/boilerplate-project-library#server.js" target="_blank">Biblioteca</a></h2>
                    <p>Una simple y sencilla app, que guarda en una base de datos no relacional un libro para luego ser mostrado en pantalla.</p>
                    <div><strong>Tecnologias</strong><p>Node, Express, Chai, Js, Css, MongoDB, Moongose.</p></div>  
                </div>
            </div>
            <div class="proyecto-container-3">
                <a href="https://codepen.io/javicoro99/pen/WNogWjd" target="_blank"><img src="/scr/pomodoro.png" alt=""></a>
                <div class="proyecto-container-3-text">
                    <h2> <a href="https://codepen.io/javicoro99/pen/WNogWjd" target="_blank">Reloj Pomodoro</a></h2>
                    <p>Un reloj pomodoro facil y rapido para usar pruebalo, se hizo usando React.js</p>
                    <div><strong>Tecnologias</strong><p>React, javascript, css, html.</p></div>
                </div>
            </div>
            <div class="proyecto-container-4">
                <a href="https://codepen.io/javicoro99/pen/jOVZPyY" target="_blank"><img src="/scr/calculadora.png" alt=""></a>
                <div class="proyecto-container-4-text">
                    <h2> <a href="https://codepen.io/javicoro99/pen/jOVZPyY" target="_blank">Calculadora</a> </h2>
                    <p>El ejercicio de todo primer programador una calculadora funcional, hecha desde 0.</p>
                    <div><strong>Tecnologias</strong><p>React, javascript, css, html.</p></div>
                </div>
            </div>
            <div class="proyecto-container-5">
                <a href="https://footpagetemplate.netlify.app/" target="_blank"><img src="/scr/salad.png" alt=""></a>
                <div class="proyecto-container-5-text">
                    <h2> <a href="https://footpagetemplate.netlify.app/" target="_blank">Paginad de Restaurante</a> </h2>
                    <p>Una pagina simple y sencilla pero de increible aspecto, lista para llamar la atención a los clientes potenciales.</p>
                    <div><strong>Tecnologias</strong><p>Html, css, javascript.</p></div>
                </div>
            </div>
        </div>
        <!-- Start footer -->
        <footer>
            <div class="linkfo">
                <a href="/view/resumen.html">Resumen</a> <span>|</span>
                <a href="/view/proyectos.html">Proyectos</a> <span>|</span>
                <a href="#">J99</a>    
            </div>
            <div class="socialicon">
                <a href="https://github.com/javicoro99" target="blank_"><img src="/scr/Github.svg" alt="error"></a>
                <a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="blank_"><img id="linkd"src="/scr/Linke.svg" alt="error"></a>
                <a href="https://twitter.com/javicoro99" target="blank_"><img id="Twitter" src="/scr/Twitter.svg" alt="error"></a>
            </div>
        </footer>
</body>
</html>