<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Javier Coronado Resumen</title>
    <script src="/Scripts/onload.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/Styles/loader.css">
    <link rel="shortcut icon" href="/scr/icon4.png" type="image/x-icon">
    <link rel="stylesheet" href="/Styles/resumen.css">
</head>
<body onload="loadFunction()">
        <!-- start of the onload icon -->
        <div class="loader">
            <img src="/scr/firma.gif" alt="Loading...">
        </div> 
        <!-- end of the onload icon -->
        <div class="head-container">
            <h1 class="head-container-text">JAVIER CORONADO</h1>
            <ul class="nav-list">
                <li class="tooltip"><a href="/view/proyectos.html" ><img src="/scr/botellanav.svg" alt=""></a>
                    <span class="tooltiptext">Proyectos</span>
                </li>
                <li class="tooltip" ><a href="/view/resumen.html"><img src="/scr/papernav.svg" alt=""></a>
                    <span class="tooltiptext">Resumen</span>
                </li>
                <li class="tooltip" ><a href="/view/diseños.html"><img src="/scr/paintnav.svg" alt=""></a>
                    <span class="tooltiptext">Diseños</span>
                </li>
                <li class="tooltip"><a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="_blank"><img src="/scr/mailnav.svg" alt=""></a>
                    <span class="tooltiptext">Contactame</span>
                </li>
            </ul>
        </div>
        <!-- Start resumen -->
        <div class="resumen">
            <h1>RÉSUMÉ</h1>
            <h2>javier coronado - Desarrollador Junior Full Stack y entusiasta del diseño grafico.</h2>
            <br>
            <ul>
                <li>
                    <strong>Email</strong><p> javiercoro199@gmail.com</p>
                </li>
                <li>
                    <strong>Linkedin</strong><p> Javier Darwin Coronado Velasquez</p>
                </li>
                <li>
                    <strong>Github</strong><p> javicoro99</p>
                </li>
                <li>
                    <strong>Youtube</strong><p> javicoro99</p>
                </li>
                <li>
                    <strong>Behance</strong><p> javiercoronado1</p>
                </li>
            </ul>
            <br>
            <h2>Habilidades</h2>
            <br>
            <ul>
                <li>
                    <strong>JavaScript</strong><p> React, Pug, Node, express, Passport, Chai, Zombie.</p>
                </li>
                <li>
                    <strong>Base de datos</strong><p> MongoDB, MySQL, Firebase.</p>
                </li>
                <li>
                    <strong>Diseño Web</strong><p> Figma, Sass, SVG, JQuery, Tailwindcss, Bootstrap, Elementor.</p>
                </li>
                <li>
                    <strong>Diseño-Edición</strong><p> Illustrator, Photoshop, After Effects, Premier Pro.</p>
                </li>
            </ul>
            <br>
            <h2>Proyectos</h2>
            <br>
            <p>Puedes revisar <a href="proyectos">aquí</a> mis ultimos proyectos.</p>
            <br>
            <h2>Historial Laboral</h2>
            <br>
            <ul>
                <li>
                    <strong>Freelancer</strong><p> Diseñador y programdor</p>
                </li>
            </ul>
            <br>
            <h2>En mi Tiempo Libre</h2>
            <br>
            <ul>
                <li>
                    <strong>Traductor</strong><p> ayudo a traducir articulos y cursos de organizaciónes como freecodecamp.</p>
                </li>
                <li>
                    <strong>Lector</strong><p> me facina la lectura de libros de psicologia y metodoligias sobre el corportamiento humano, así como de nuevas tecnologias.</p>
                </li>
                <li>
                    <strong>Profesor</strong><p> cuando alguien no sabe usar algunas tecnologias, uno tiene que enseñarle para que puedan entender el mundo que les rodea.</p>
                </li>
                <li>
                     <strong>Crear cursos</strong> <p> me empezo a interesar crear cursos sobre tecnologias que tenemos a la mano pero no sabemos usarlas bien.</p>
                </li>
                <li>
                    <strong>Escribir poemas</strong> <p> "La vida en su mayor parte es cuestión de percepción y más a menudo de percepción errónea".</p>
                </li>
            </ul>
        </div>
        <!-- Start footer -->
        <footer>
            <div class="linkfo">
                <a href="/view/resumen.html">Resumen</a> <span>|</span>
                <a href="/view/proyectos.html">Proyectos</a> <span>|</span>
                <a href="#">J99</a>    
            </div>
            <div class="socialicon">
                <a href="https://github.com/javicoro99" target="blank_"><img src="/scr/Github.svg" alt="error"></a>
                <a href="https://www.linkedin.com/in/javier-darwin-coronado-velasquez/" target="blank_"><img id="linkd"src="/scr/Linke.svg" alt="error"></a>
                <a href="https://twitter.com/javicoro99" target="blank_"><img id="Twitter" src="/scr/Twitter.svg" alt="error"></a>
            </div>
        </footer>
</body>
</html>